<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title></title>
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="format-detection" content="telephone=no" />
<link rel="stylesheet" th:href="@{/css/x-admin.css}" media="all" />
</head>

<body>
	<div class="x-body">
		<form class="layui-form">
			<input type="hidden" name="id" th:value="${resources.id}"/>
			<div class="layui-form-item">
				<label  class="layui-form-label"> <span
					class="x-red">*</span>资源名称
				</label>
				<div class="layui-input-inline">
					<input type="text" id="name" name="name" required=""
						lay-verify="required" th:value="${resources.name}"
						autocomplete="off" class="layui-input" />
				</div>
			</div>
			<div class="layui-form-item">
				<label  class="layui-form-label"> <span
					class="x-red">*</span>资源路径
				</label>
				<div class="layui-input-inline">
					<input type="text" id="resUrl" th:value="${resources.resUrl}"
						name="resUrl" required="" lay-verify="required" autocomplete="off"
						class="layui-input" />
				</div>
			</div>
			<div class="layui-form-item">
				<label  class="layui-form-label"> <span
					class="x-red">*</span>父级
				</label>
				<div class="layui-input-inline">
				    <input type="hidden" th:value="${resources.parentId}" name="parentId"/>
					<select name="parentId">
						<option  th:value="0" >无</option>
						<option  th:each="parent:${parents}" th:value="${parent.id}" th:text="${parent.name}"></option>
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label"> <span
					class="x-red">*</span>类型
				</label>
				<div class="layui-input-inline">
		            <input type="hidden" th:value="${resources.type}" name="type"/>
					<select name="type">
						<option th:value="1" >菜单</option>
						<option th:value="2" >按钮</option>
					</select>
				</div>
			</div>
		   <div class="layui-form-item">
				<label class="layui-form-label"> <span
					class="x-red">*</span>排序
				</label>
				<div class="layui-input-inline">
					<input type="text" id="sort" th:value="${resources.sort}"
						name="sort" required="" lay-verify="required" autocomplete="off"
						class="layui-input" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label"> </label>
				<button class="layui-btn" lay-filter="save" lay-submit="">
					保存</button>
			</div>
		</form>
	</div>
	<script th:src="@{/lib/layui/layui.js}" charset="utf-8">
		
	</script>
	<script th:src="@{/js/x-layui.js}" charset="utf-8">
		
	</script>
	<script  th:inline="javascript">
		layui.use([ 'form', 'layer' ], function() {
			$ = layui.jquery;
			var form = layui.form(), layer = layui.layer;
			var type = $("input[name='type']").val();
			var parentId = $("input[name='parentId']").val();
			
			$("select[name='type']").find("option[value="+type+"]").attr("selected","selected");
			$("select[name='parentId']").find("option[value="+parentId+"]").attr("selected","selected");
			
			//监听提交
			form.on('submit(save)', function(data) {
                 
				var id = $("input[name='id']").val();
				var name = $("input[name='name']").val();
				var sort = $("input[name='sort']").val();
				var type = $("select[name='type']").val();
				var resUrl = $("input[name='resUrl']").val();
				var parentId = $("select[name='parentId']").val();
				
				$.ajax({
					type : "POST",
					url : [[@{/back/resource/update}]],
					data : {
						id : id,
						sort : sort,
						type : type,
						name : name,
						resUrl : resUrl,
						parentId : parentId
					},
					success : function(data) {
						if (data.res == 200) {
							layer.alert(data.msg, {
								icon : 6
							}, function() {
								$("#conditionSearch").submit();
								// 获得frame索引
								var index = parent.layer
										.getFrameIndex(window.name);
								//关闭当前frame
								parent.layer.close(index);
							});
						} else {
							layer.msg(data.msg, {
								icon : 7,
								time : 1500
							});
						}
					}
				});
				return false;
			});

		});
	</script>
</body>

</html>