<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.mapper.AdminMapper">
  <resultMap id="BaseResultMap" type="com.springboot.model.Admin">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  
  <select id="selectAdminList" resultType="com.springboot.model.Admin">
    select 
    a.id id,
    a.username username,
    a.status status,
    a.create_time createTime,
    a.email email,
    r.role_name roleName
    from t_admin a 
    left join t_admin_role ar 
    on a.id = ar.admin_id
    left join t_role r
    on ar.role_id = r.id
    where 1 = 1 
    <if test="admin.username != null and admin.username !=''">
    and a.username like "%${admin.username}%"
    </if>
    <if test="beginDate != null ">
    and a.create_time &gt; #{beginDate}
    </if>
    <if test="endDate != null ">
    and a.create_time &lt; #{endDate}
    </if>
    order by a.create_time asc
  
  </select>
</mapper>